/* Estilos para el formulario */

/* Estilos para la página en general */

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: #546771;
  margin: 30px 0;
}

h2 {
  text-align: center;
  color: #535b5f;
  margin: 24px 0;
}

form {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: block;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}
#valor_salarial_rango{
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

input,
select {
  display: flex;
  text-align: center;
  width: 50%;
  padding: 0.5rem;
  margin: auto;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
input[type="range"] {
  width: 60%;
  margin: auto;
}
/* Estilos para el pie de página */
footer {
    margin-top: 3rem;
    padding: 1rem;
    background-color: #F1F1F1;
    text-align: center;
    font-size: 0.8rem;
}

.antes_de_validar{
  background-color:rgb(219, 254, 243);
}
.focus{
  font-weight: bold;
  font-size: x-large;
  background-color: rgb(153, 240, 179);
}
.obligatorio{
  font-weight: bold;
  font-size: x-large;
  background-color: rgb(241, 111, 111);
} 

#submit{
  height: 80px;
  width: 40%;
  margin: auto;
  font-size: xx-large;
  font-weight: bold;
}
.submit{
  text-align: center;
}

/* Estilos para MIRAR */



/* No se para qué




Solo uno de los dos


option{
  text-align: center;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #008CBA;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}






  

  
