body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
[class*="col-"] {
    float: left;
    padding: 0px;
  }

  /* Links */
a {
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
    font-weight: 400;
	/* padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px; */
}
a:link {
    color: #FFFFFF;
    text-decoration:none
}
/* Encabezados */
h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
h2 {
    font-family: 'Prompt', sans-serif;
    font-size: 32px;
    font-weight: 500;
}
h3 {
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-block-start: 0px;
    margin-block-end: 20px;
}

/* Resaltado en amarillo de h1 y h2 con forma */
.realistic-marker-highlight {
    position:relative;
    color: #000000;
    margin-left: 15px;
}
.realistic-marker-highlight:before {
    content:"";
    background-color: rgb(255, 232, 66);
    width: 100%;
    height:1em;
    position:absolute;
    z-index:-1;
    filter:url(#marker-shape);
    left:-0.25em;
    top: 0.2em;
    padding: 0.04em 0.30em;
}
/* Estilos generales */
.text-align_center {
    text-align: center;
}


/* estilos de parrafo */
strong, b {  
    font-weight: 600; 
}
.p_negrita {
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.p_normal {
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 200%;
    padding-right: 50px;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.p_transparente_06 {
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.p_transparente_04 {
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.p_lista {
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 300%;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.p_look {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-top: 60px;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Seccion 1 */

.contenedor_seccion_1 {
    /* float: center; */
    padding: 20px;
}
/* Button */
#button_account {
    border-width: 0 ;
    border-radius: 25px;
    background-color: rgb(1, 188, 252);
    padding: 15px 35px;
    margin: 15px;
    text-align: center;
    }

/* Seccion 2 */
#contenedor_seccion_2 {
    background-color: #FFFFFF;
}
#subtitulo_seccion_2 {
    margin-bottom: 80px;
}
#learn_more a {
    color: rgb(1, 188, 252);
    font-size: 14px;
    font-weight: 400;
}
#learn_more {
    border-width: 0 ;
    background-color: #FFFFFF;
    padding: 0px;
}
/* contenido seccion 2 */

.contenido_seccion_2 {
    /* overflow: visible; */
    width: 100%;
}
.texto_contenido_seccion_2 {
    float: left;
    width: calc(60% - 1em);
    margin-left: 1em;
}
.img_contenedor_seccion_2 {
    float: right;  
    width: 40%;
}
.img_contenido_seccion_2 {
    width: 100%;
}
.clearfix {
    clear: both;
}
/* Seccion 3 */
#contenedor_seccion_3 {
    overflow: visible;
    width: 100%;
    background-color: rgb(32, 39, 49);
}
#contenedor_seccion_3_2 h3{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}
.contenido_seccion_3 {
    float: left;
    width: 20%;
}
.img_contenido_seccion_3 {

}
/* For mobile phones: */

/* @media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  } */

[class*="col-"] {
    width: 100%;
  }
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 940px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: calc(40% - 1em)}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} */