/*El primer nivel de elementos de la lista hará una barra de menú horizontal de la que el segundo nivel de las listas se desplegará*/
ul {
  padding: 0;    /*el relleno y el margen a cero*/
  margin: 0;
  list-style: none;    /*el estilo de la lista NINGUNO*/
  }
/*Ahora necesitamos transformar la lista de primer nivel en una barra de menú horizontal. Hay un número de métodos para hacer esto, vamos a flotar a la izquierda.*/
li {
  float: left;
  position: relative;    /*La posición se ha establecido relative porque queremos que la posición del segundo nivel, listas anidadas sea relativa a los elementos de la lista de primer nivel*/
  width: 10em;
     color: #777;
     background: #fff;
     padding: 5px;
     border: 1px solid #ccc;
  }
/*El siguiente paso es hacer frente a las listas de segundo nivel que serán los mismos menús desplegables*/
li ul {
  display: none;   /*establece su estado inicial a no mostrado*/
  position: absolute;    /*absoluto: tirando de ellos fuera del flujo de HTML*/
  top: 1em; 
  left: 0;
    margin-top: .3em;
  }
/*restablecemos las propiedades superior e izquierdo en todos los navegadores*/
/*sino se alineará las listas de segundo nivel a la parte superior derecha de su padre relativo*/ 
li > ul {
 top: auto;
 right: auto;
 /*left: auto; /*indexa un poco la lista del segundo nivel a la derecha un poco para más .5em;*/
 }
/*hacemos que los sub-menús aparezcan cuando pasamos sobre los elementos del menú*/
/*usamos la pseudo-clase :hover*/
li:hover ul { display: block; }

/*Quitamos la decoración a los enlaces*/
/*a en "bloque", ya que queremos que cada enlace para ocupar todo el espacio disponible en el elemento de lista que contiene*/
ul li a {
 display: block;
 text-decoration: none;
    color: #777;
 }