/*El primer paso es eliminar los sangrados y marcadores de la lista sin ordenar y definir el ancho de nuestros elementos de menú*/
ul {
 margin: 0;
 padding: 0;
 list-style: none;
 width: 150px;
 border-bottom: 1px solid #ccc;  /*cerramos el menú*/
 }
/*Segundo: posicionamos los elementos de la lista. Afortunadamente, estos se apilan verticalmente por defecto, que es lo que necesitamos. Sin embargo, hay que ajustar la posición relative, porque necesitaremos para posicionar los submenús absolutamente dentro de ellos*/
ul li {
 position: relative;
 }
/*El siguiente paso es los sub-menús. Queremos que cada sub-menú aparezca a la derecha del elemento ascendiente cuando pasemos el puntero por encima*/
li ul {
 position: absolute;
    /*usando los atributos "left"y"top", podemos colocar de manera absoluta cada sub-menú dentro de su elemento del menú principal*/
 left: 150px;  /*1px menor que la anchura de los elementos de menú --> no producen un borde doble*/    
 top: 0;
 display: none;
 }

ul li a {
    /*a en "bloque", ya que queremos que cada enlace para ocupar todo el espacio disponible en el elemento de lista que contiene*/
 display: block;
 text-decoration: none;
 color: #777;
 background: #fff;
 padding: 5px;
 border: 1px solid #ccc;
 border-bottom: 0;
 }
/*hacemos que los sub-menús aparezcan cuando pasamos sobre los elementos del menú*/
/*usamos la pseudo-clase :hover*/
li:hover ul { display: block; }