body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select,
  input[type="file"],
  input[type="range"],
  input[type="date"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #2ecc71;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #27ae60;
  }
  
  .error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  }
  